/* styles.css */
.find-orphaned-images-ribbon-icon {
    stroke: currentColor;
  }
  
  body.theme-dark .find-orphaned-images-ribbon-icon {
    color: white;
  }
  
  body.theme-light .find-orphaned-images-ribbon-icon {
    color: black;
  }
  